/* 基本スタイル */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: flex-start; /* コンテナの内容を上部に寄せる */
    align-items: center;
    min-height: 100vh; /* 最小高さをビューポートの高さに設定 */
    flex-direction: column;
    text-align: center;
}

/* リンクのスタイル */
.links a {
    margin: 10px;
    text-decoration: none;
    color: blue;
}

.links a:hover {
    text-decoration: underline;
}

/* ビデオと画像のスタイル */
video, img {
    width: 50%; /* 幅を50%に設定 */
    height: auto;
    display: block;
    margin: 10px auto;
}

/* テキストの整形 */
h2, p {
    width: 80%; /* 幅を80%に設定 */
    margin: 10px auto; /* 上下のマージンを設定し、自動的に左右のマージンを調整 */
    text-align: center; /* テキストを中央揃えにする */
}

/* セクションスタイル */
section {
    padding: 20px;
    border-top: 1px solid #ccc;
}

/* 特定のセクションのスタイル */
iframe {
    width: 50%; /* 幅を50%に設定 */
    height: 30vh; /* ビューポートの高さの30%に設定 */
    display: block;
    margin: 10px auto;
}
