/* 基本スタイル */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

/* レスポンシブデザイン */
.container {
    display: flex;
    justify-content: flex-start; /* Align content to the top */
    align-items: center;
    min-height: 100vh; /* Minimum height to fit the viewport */
    flex-direction: column;
    text-align: center;
}

/* Links styling */
.links a {
    margin: 10px;
    text-decoration: none;
    color: blue;
}

.links a:hover {
    text-decoration: underline;
}

/* Video and image styling */
video, img {
    width: 80%; /* Default to 80% for smaller screens */
    height: auto;
    display: block;
    margin: 10px auto;
}

@media (min-width: 768px) {
    video, img {
        width: 50%; /* Adjust to 50% for larger screens */
    }
}

/* Title and authors center alignment */
h2, p.authors {
    width: 90%; /* Default to 90% for smaller screens */
    margin: 10px auto;
    text-align: center;
}

@media (min-width: 768px) {
    h2, p.authors {
        width: 50%; /* Adjust to 50% for larger screens */
    }
}

/* Paragraph text alignment */
p {
    width: 90%; /* Default to 90% for smaller screens */
    margin: 10px auto;
    text-align: left;
}

@media (min-width: 768px) {
    p {
        width: 50%; /* Adjust to 50% for larger screens */
    }
}

/* Section styling */
section {
    padding: 20px;
    border-top: 1px solid #ccc;
}

/* iFrame styling */
iframe {
    width: 100%; /* Default to full width */
    height: 40vh; /* Adjust height for smaller screens */
    display: block;
    margin: 10px auto;
}

@media (min-width: 768px) {
    iframe {
        width: 50%; /* Adjust to 50% for larger screens */
        height: 60vh;
    }
}

/* Citation styling */
pre {
    width: 90%; /* Default to 90% for smaller screens */
    margin: 10px auto;
    text-align: left;
}

@media (min-width: 768px) {
    pre {
        width: 80%; /* Adjust to 80% for larger screens */
    }
}

/* Other Links styling */
ul {
    width: 90%; /* Default to 90% for smaller screens */
    margin: 10px auto;
    text-align: left;
}

@media (min-width: 768px) {
    ul {
        width: 80%; /* Adjust to 80% for larger screens */
    }
}
